/*
  03
 */
/*-------------------------*/
/** $Catalog
---------------------------*/
/*
  Globel
  Elements
  Header
  About
  Quote
  Skill
  Experience
  Work
  Contact
  Footer
  Parallax graphic
**/

/*-------------------------*/
/** $Globel
---------------------------*/
/*-------------------------*/
/** $Elements
---------------------------*/

/*btn
---------------------------*/

/*-------------------------*/
/** $Header
---------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
/* navbar */
.navbar {
  display: flex;
  /* border: 1px solid #000; */
  margin: 0 12px;
  justify-content: space-between;
  align-items: center;
}
.navbar__my-logo {
  padding: 30px 0px 18px 24px;
}
/* icon-btn */
.icon-btn {
  /* border: 1px solid #000; */
  display: block;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 35px;
  color: #456e84;
}
.icon-btn :hover {
  color: #f8f9fa;
}

@media (max-width: 767px) {
  .navbar {
    margin: 0 0px;
  }
  .icon-btn .logo {
    font-size: 28px;
  }
}

/* menu */
.nav__menu {
  display: flex;
}
.menu__item {
  display: flex;
  justify-content: space-evenly;
  padding-right: 12px;
}
.menu__item > li > a {
  display: block;
  padding: 12px 12px;
  color: #456e84;
  font-family: 'Quantico', 'Noto Sans TC';
  font-size: 20px;
}
.menu__item > li > a:hover {
  color: #f8f9fa;
  transition: all 0.4s ease;
}

/* menu-toggle */
#menu-toggle {
  position: relative;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}
#menu-toggle input {
  display: none;
}
#menu-toggle span {
  display: none;
  top: 24px;
  right: 12px;
  width: 24px;
  height: 3px;
  background-color: #456e84;
  margin: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1000;
  transform-origin: 4px 0px;
}

/* rwd-popup */
@media (max-width: 767px) {
  .rwd-popup {
    position: fixed;
    width: 350px;
    height: 100%;

    z-index: 10;
    background-color: #f8f9fa;
    top: 0;
    right: -50px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menuToggle {
    position: relative;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }
  #menu-toggle input {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -7px;
    left: -15px;

    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 20; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  #menu-toggle span {
    display: block;
    cursor: pointer;

    top: 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }
  #menu-toggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 80%;
  }
  #menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 2px);
    background: #71d0d6;
  }
  #menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 0);
  }
  #menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menu__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;

    padding: 80px 60px;
  }
  .rwd-popup .item {
    text-align: right;
    letter-spacing: 4px;
    padding: 20px 15px;
    font-size: 18px;
  }
  .menu__item > li > a:hover {
    color: #71d0d6;
  }
  #menu-toggle ul {
    opacity: 0;
  }
  #menu-toggle input:checked ~ ul {
    opacity: 1;
    transform: none;
  }
}

/*-------------------------*/
/** $About
---------------------*/
.hero {
  /* border: 1px solid #000; */
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.hero__hello {
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}
.hero__hello h1 {
  font-size: 160px;
}
.hero__hello h4 {
  font-size: 42px;
  color: #fff;
  margin-top: -15px;
}

.hero__hello h5 {
  margin-bottom: 16px;
  color: #5f666d;
  font-family: monospace;
  font-size: 30px;
  width: 38ch;
  line-height: 50px;
  border-right: 3px solid;
  overflow: hidden;
  animation: typing 3s steps(22), blink 0.5s step-end infinite;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* hero__left、Right */
.hero__left {
  display: flex;
  top: 0;
  left: 0;
  background-color: #ffcc52;
  width: 50%;
  height: 100%;
}
#left-padding,
#right-padding {
  display: block;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
#left-padding input,
#right-padding input {
  opacity: 0; /* hide this */
  -webkit-touch-callout: none;
}
.left-icon,
.right-icon {
  position: fixed;
  top: 50vh;
  z-index: 1000;
  transform: translateY(-50%);
}
.left-icon {
  left: 40px;
  animation: moveLeft 1s 3.5s infinite alternate;
}

@keyframes moveLeft {
  0% {
    left: 40px;
  }
  100% {
    left: 20px;
  }
}
.hero__right {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #71d0d6;
  width: 50%;
  height: 100%;
}

.right-icon {
  right: 40px;
  animation: moveRight 1s 3.5s infinite alternate;
}
@keyframes moveRight {
  0% {
    right: 40px;
  }
  100% {
    right: 20px;
  }
}
.hero .left-icon:hover,
.hero .right-icon:hover {
  font-size: 50px;
  color: #f8f9fa;
  transition: all 0.2s ease;
}
/* page */
.left-designer,
.right-coder {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-size: cover;
  background-repeat: no-repeat;

  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
.left-designer {
  top: 0;
  left: 0;

  background-image: url(../images/about__design.png);
  transform: translateX(-100%);
}

.left-designer .designer-whiteBlock {
  position: absolute;
  width: 800px;
  height: 100px;
  top: 140px;
  right: 8%;
  background-color: #f8f9fa;
}
.left-designer h3 {
  position: absolute;
  color: #f8f9fa;
  font-size: 20px;
  top: 120px;
  right: 5%;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
  letter-spacing: 2px;
}
.left-designer h1 {
  position: absolute;
  font-size: 120px;
  top: 40px;
  right: 8%;
}
.left-designer h5 {
  position: absolute;
  color: #f8f9fa;
  font-size: 40px;
  font-weight: 600;
  top: 70%;
  right: 8%;
}
.left-designer h6 {
  position: absolute;
  color: #5f666d;
  font-size: 25px;
  line-height: 40px;
  text-align: right;
  top: 82%;
  right: 8%;
}

#left-padding input:checked ~ i {
  color: #f8f9fa;
}
#left-padding input:checked ~ .left-designer {
  transform: none;
}

.right-coder {
  background-image: url(../images/about__code.png);
  background-position: bottom;
  top: 0;
  right: 0;
  transform: translateX(100%);
}
.right-coder h4 {
  position: absolute;
  font-size: 30px;
  color: #5f666d;
  top: 3%;
  left: 5.5%;
}
.right-coder h1 {
  position: absolute;
  font-size: 160px;
  top: 35vh;
  left: 5%;
}
#right-padding input:checked ~ .right-coder {
  transform: none;
}

/* hero Scroll */
.hero .padding i {
  font-size: 45px;
  color: #343a40;
}
.hero .scroll i {
  position: absolute;
  font-size: 40px;
  top: 90vh;
  left: -40px;
  transform: rotate(90deg);
}
.hero .scroll span {
  position: absolute;
  top: 90vh;
  left: 10px;
  font-size: 14px;
  font-family: Geneva, Tahoma, sans-serif;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
}
@media (max-width: 1024px) {
  .hero__hello {
    top: 32vh;
  }
  .hero__hello h1 {
    font-size: 150px;
  }
  .hero__hello h5 {
    font-size: 42px;
    white-space: nowrap;
  }
  #left-padding,
  #right-padding {
    display: none;
  }
  .hero .scroll i,
  .hero .scroll span {
    animation: scroll_move 0.7s 4s ease-in-out infinite alternate;
  }
  @keyframes scroll_move {
    0% {
      top: 90vh;
    }
    100% {
      top: 92vh;
    }
  }
}

@media (max-width: 767px) {
  .hero__hello {
    top: 35vh;
  }
  .hero__hello h1 {
    font-size: 80px;
  }
  .hero__hello h4 {
    font-size: 32px;
    white-space: nowrap;
  }
  .hero__hello h5 {
    display: none;
  }
  #left-padding,
  #right-padding {
    display: none;
  }
  .hero .scroll i,
  .hero .scroll span {
    animation: scroll_move 0.7s 4s ease-in-out infinite alternate;
  }
  @keyframes scroll_move {
    0% {
      top: 90vh;
    }
    100% {
      top: 92vh;
    }
  }
}

/*-------------------------*/
/** $Quote
---------------------*/

/*-------------------------*/
/** $Skill
---------------------*/

/*-------------------------*/
/** $Experience
---------------------*/

/*-------------------------*/
/** $Work
---------------------*/

/*-------------------------*/
/** $Contact
---------------------*/

/*-------------------------*/
/** $Footer
---------------------*/

/*-------------------------*/
/** $Parallax graphic
---------------------*/
