/*
  03 base
*/

//$Catalog
/*-------------------------*/
//   Catalog
//   font
//   Document
//   Typography
//   Color

/*-------------------------*/
// $font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;900&family=Quantico&display=swap');

/*-------------------------*/
// $Document
*,
*::after,
*::before {
  position: relative;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar-track-piece {
  overflow: hidden !important;
  background: #cbcbcb;
}
::-webkit-scrollbar {
  position: fixed;
  width: 8px;
  overflow: auto;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 28%, 40%);
  border-radius: 10px;
  outline-offset: -2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 28%, 30%);
}

img {
  max-width: 100%;
  height: auto;
}
/*-------------------------*/
/** $Typography
/*-------------------------*/

/* Global */
body,
html {
  font-family: $font-ios;
}
/* heading */
/* prettier-ignore */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: #484848;
  font-family: $font-noto;
}
h1 {
  font-size: 130px;
  font-weight: 900;
  margin-top: 24px;
  margin-bottom: 24px;
}
h2 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 24px;
}
h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}
h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}
h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1; //1倍
  margin-top: 24px;
  margin-bottom: 16px;
}
h6 {
  font-size: 16px;
  font-weight: 800;
}
p {
  font-size: 16px;
  font-weight: 400;
  font-family: $font-ios;
  line-height: 32px; // 左右間距
  letter-spacing: 0;
  margin-bottom: 16px;
}
.subtitle {
  font-size: 48px;
  font-weight: 900;
  font-family: 'Raleway', $font-ios;
  margin-top: 24px;
  margin-bottom: 24px;
}
a {
  color: #484848;
  text-decoration: none;
  &:active,
  hover,
  focus {
    text-decoration: none;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*-------------------------*/
// $Color
/*-------------------------*/
/* background color */
.bg-color-yellow {
  background-color: #f3d570;
}
.bg-color-pink {
  background-color: #ff957f;
}
.bg-color-lightblue {
  background-color: #c3d4de;
}
.bg-color-darkblue {
  background-color: #456e84;
}
.bg-color-black {
  background-color: #484848;
}
.bg-color-grey {
  background-color: #cbcbcb;
}
.bg-color-white {
  background-color: #fefefe;
}

// $Utility
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}

@media (max-width: 768px) {
  .md-sub-f {
    font-size: 35px;
  }
  .mt-md-0 {
    margin-top: 0;
  }
  .pt-md-0 {
    padding-top: 0;
  }
  .pb-md-4 {
    padding-bottom: 40px;
  }
  .pl-md-2 {
    padding-left: 2rem;
  }
}
