/*
  07 main
*/
/*-------------------------*/
/** $Catalog
---------------------------*/
/*
  Global
  Header
  About
  Skill
  Experience
  Work
  Contact
  Footer
  Parallax graphic
**/
/*-------------------------*/
/** $Header
---------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
}
/* navbar */
.navbar {
  display: flex;
  // border: 1px solid #000;
  margin: 0 20px;
  justify-content: space-between;
  align-items: center;
}
.nav__my-logo {
  margin: 0;
  padding: 20px 0px 18px 24px;

  .icon-btn {
    /* border: 1px solid #000; */
    display: block;
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 30px;
    color: $word;

    &:hover {
      color: $dark-grey;
    }
  }
}
@include pad {
  .navbar-md {
    background-color: $white;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    transition: all 0.5s linear;
  }
  .nav__my-logo {
    padding: 5px 0px 5px 24px;

    .icon-btn {
      font-size: 28px;
    }
  }
}
/* navbar menu */
.nav__menu {
  display: flex;

  #menu-toggle {
    position: relative;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    @include pad {
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;

      ul {
        opacity: 0;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      @include pad {
        width: 40px;
        height: 40px;
        top: -7px;
        left: -15px;

        cursor: pointer;
        -webkit-touch-callout: none;

        &:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(1px, 2px);
          background: #71d0d6;
        }
        &:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, 0);
        }
        &:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        &:checked ~ ul {
          opacity: 1;
          transform: none;
        }
      }
    }
    span {
      display: none;
      top: 24px;
      right: 12px;
      width: 24px;
      height: 3px;
      background-color: #456e84;
      margin: 5px;
      position: relative;
      border-radius: 3px;
      z-index: 1000;
      transform-origin: 4px 0px;

      @include pad {
        display: block;
        cursor: pointer;

        top: 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          opacity 0.55s ease;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 80%;
        }
      }
    }
    .menu__item {
      display: flex;
      justify-content: space-evenly;
      padding-right: px;

      a {
        display: block;
        padding: 12px 12px;
        color: #456e84;
        font-family: 'Quantico', 'Noto Sans TC';
        font-size: 18px;

        &::before {
          transform: scaleX(0);
          transform-origin: bottom right;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &::before {
          content: ' ';
          display: block;
          position: absolute;
          height: 18px;
          margin-top: 13px;
          inset: 0 0 0 0;
          background: rgba(134, 233, 240, 0.9);
          z-index: -1;
          transition: transform 0.3s ease;
        }
      }

      @include pad {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        padding: 80px 65px;

        a:hover {
          color: $dark-grey;
        }
      }
    }
    .rwd-popup {
      @include pad {
        position: fixed;
        width: 350px;
        height: 100%;

        z-index: 10;
        background-color: #f8f9fa;
        top: 0;
        right: -50px;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        .item {
          text-align: right;
          letter-spacing: 4px;
          padding: 20px 15px;
          font-size: 18px;
        }
      }
    }
  }
}
/*-------------------------*/
/** $Home
---------------------------*/
@mixin contain {
  @content;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.hero {
  /* border: 1px solid #000; */
  @include contain;

  .scroll-icon {
    position: relative;
    text-align: center;
    opacity: 0.3;
    top: 85vh;
    animation: breath 2s 3s infinite;
    @keyframes breath {
      0% {
        opacity: 0.3;
      }
      50% {
        opacity: 0.7;
      }
      100% {
        opacity: 0.3;
      }
    }
    span {
      position: absolute;
      font-size: 45px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      color: lighten($dark-grey, 10%);
    }
  }
}
/* hero__hello*/
.hero__hello {
  position: absolute;
  margin: auto;
  top: 23vh;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  text-align: center;

  h1 {
    font-size: 130px;
  }
  h2 {
    font-size: 38px;
    color: #fff;
    margin-top: -15px;
  }
  h3 {
    margin-bottom: 15px;
    color: #5f666d;
    font-family: monospace;
    font-size: 28px;
    font-weight: 400;
    width: 38ch;
    line-height: 50px;
    border-right: 3px solid;
    overflow: hidden;
    animation: typing 3s steps(22), blink 0.5s step-end infinite;
    white-space: nowrap;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
/* hero__left Right*/
.icon {
  position: absolute;
  top: 50vh;
  z-index: 1000;
  transform: translateY(-50%);

  font-size: 45px;
  color: $dark-grey;
}
@mixin icon-hover {
  @content;
  font-size: 50px;
  color: #f8f9fa;
  transition: all 0.2s ease;
}
.page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  background-size: cover;
  background-repeat: no-repeat;

  -webkit-font-smoothing: antialiased;
  /* transform-origin: 0% 0%; */
  transition: transform 1s ease-in-out;
}
.hero__left {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  width: 50%;
  height: 100%;

  .left-icon {
    cursor: pointer;
    left: 40px;
    animation: moveLeft 1s 3.5s infinite alternate;

    &:hover {
      @include icon-hover;
    }
  }
  @keyframes moveLeft {
    0% {
      left: 40px;
    }
    100% {
      left: 20px;
    }
  }

  .left-designer {
    display: block;
    top: 0;
    left: 0;
    background-image: url(../images/about__design.png);
    transform: translateX(-100%);

    h1 {
      position: absolute;
      font-size: 110px;
      top: 40px;
      right: 8%;
    }
    h2 {
      position: absolute;
      color: $white;
      font-size: 40px;
      font-weight: 600;
      top: 68%;
      right: 8%;
    }
    h3 {
      position: absolute;
      color: lighten($dark-grey, 10%);
      font-size: 25px;
      line-height: 40px;
      text-align: right;
      top: 78%;
      right: 8%;
    }
    h4 {
      position: absolute;
      color: $white;
      font-size: 20px;
      top: 108px;
      right: 5%;
      writing-mode: vertical-rl;
      text-orientation: sideways;
      transform: rotate(-180deg);
      letter-spacing: 2px;
    }
  }
  .designer-whiteBlock {
    position: absolute;
    width: 800px;
    height: 90px;
    top: 130px;
    right: 8%;
    background-color: $white;
  }
}
.hero__right {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $secondary;
  width: 50%;
  height: 100%;

  // input {
  //   user-select: none;
  // }

  .right-icon {
    cursor: pointer;
    right: 50px;
    animation: moveRight 1s 3.5s infinite alternate;

    &:hover {
      @include icon-hover;
    }
  }
  @keyframes moveRight {
    0% {
      right: 40px;
    }
    100% {
      right: 20px;
    }
  }
  .right-coder {
    display: block;
    background-image: url(../images/about__code.png);
    background-position: bottom;
    top: 0;
    right: 0;
    transform: translateX(100%);

    h1 {
      position: absolute;
      font-size: 130px;
      top: 40vh;
      left: 5%;
    }
    h2 {
      position: absolute;
      font-size: 30px;
      color: lighten($dark-grey, 5%);
      top: 3%;
      left: 5.5%;
    }
    h3 {
      position: absolute;
      font-size: 25px;
      font-weight: 600;
      color: $word;
      top: 12%;
      left: 5.5%;
      line-height: 40px;
    }
  }
}
.page-id {
  height: 0;
  display: block;
  position: relative;
  z-index: 100;
}
#left-page {
  input {
    opacity: 0;
    width: 0;
    -webkit-touch-callout: none;

    &:checked ~ i {
      color: #f8f9fa;
    }
    &:checked ~ .left-designer {
      transform: none;
    }
  }
}
#right-page {
  input {
    opacity: 0;
    -webkit-touch-callout: none;
    width: 0;

    &:checked ~ .right-coder {
      transform: none;
    }
  }
}
@include laptop {
  .hero__hello {
    top: 31%;

    h1 {
      font-size: 120px;
    }
    h2 {
      font-size: 28px;
      white-space: nowrap;
    }
    h3 {
      font-size: 22px;
    }
  }
  #left-page,
  #right-page {
    display: none;
  }
  .scroll-icon {
    animation: scroll_move 0.7s ease-in-out infinite alternate !important;
  }
  @keyframes scroll_move {
    0% {
      opacity: 0.4;
      top: 85vh;
    }
    100% {
      opacity: 0.8;
      top: 90vh;
    }
  }
}
@include pad {
  .hero__hello {
    top: 38vh;

    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 32px;
      white-space: nowrap;
    }
    h3 {
      display: none;
    }
  }
  #left-page,
  #right-page {
    display: none;
  }
}

/*-------------------------*/
/** $about
---------------------*/
.about {
  @include contain;

  .bgL {
    position: absolute;
    background-color: $primary;
    width: 50%;
    height: 100vh;
    animation: bgL 0.5s ease-in-out forwards;
  }
  @keyframes bgL {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
    }
  }
  .bgL2 {
    animation: bgL2 0.5s ease-in-out backwards;
  }
  @keyframes bgL2 {
    0% {
      clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .bgR {
    position: absolute;
    background-color: $secondary;
    right: 0;
    width: 50%;
    height: 100vh;
    animation: bgR 0.5s ease-in-out forwards;
  }
  @keyframes bgR {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .bgR2 {
    animation: bgR2 0.5s ease-in-out backwards;
  }
  @keyframes bgR2 {
    0% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 55%;
    bottom: 8%;
    transform: translateX(-50%);
    background-size: 450px;
    background-image: url('../images/Han.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    animation: photoShow 1s 0.5s linear backwards;
  }
  @keyframes photoShow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .show {
    display: none;
  }
  .dk-hide {
    display: none;
  }
  .about__group {
    position: absolute;
    display: initial;
    top: 15%;
    left: 50%;
    transform: translatex(-50%);
    animation: aboutShow 1s linear forwards;

    @keyframes aboutShow {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .sub1 {
      display: block;
      top: 0;
      left: 0;
      margin-bottom: 20px;
    }

    .my-name {
      font-family: '微軟正黑體';
      color: $word;
      margin-top: 50px;

      p {
        display: inline;
        font-size: 20px;
      }
    }
    .bio {
      display: block;
      margin: 0px;
      width: 450px;
      font-size: 18px;
      text-align: justify;
    }

    .personal {
      margin-top: 40px;
      font-size: 16px;
      font-family: $font-noto;

      a {
        margin: 20px 0px 0 0;
      }

      .personal__icon {
        font-size: 28px;
        color: $secondary;
      }
    }
  }
  .quote {
    position: absolute;
    right: 3%;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 80%;
    opacity: 0.2;
    z-index: 10;
    background-position: center;
    background-size: cover;
    background-image: url('../images/quote.png');
  }
  .intro {
    position: absolute;
    right: 3%;
    top: 85vh;
    font-size: 28px;
    width: 450px;
    color: lighten($white, 20%);
    text-align: right;
  }
  @include laptop {
    .photo {
      background-size: 250px;
      background-position: top;
      left: 20%;
      bottom: -50px;
    }
    .md-hide {
      display: none;
    }
    .md-photo {
      display: block;
    }
    .about__group {
      top: 10%;

      .sub1 {
        margin: 0 0 150px 0;
        text-align: center;
      }
      .my-name {
        text-align: left;
        margin-top: 200px;
        padding-left: 35%;
        font-size: 50px;
        line-height: 60px;

        p {
          display: block;
          margin: 0;
        }
      }

      .bio,
      .personal {
        font-size: 24px;
        line-height: 40px;
        margin-top: 60px;
        width: 70vw;

        .personal__icon {
          color: $word;
        }
        a {
          font-size: 15px;
          margin: 0 20px;
        }
      }
    }
    .md-hidden {
      display: none;
    }
  }
  @include pad {
    .photo {
      background-size: 150px;
      height: 150px;
      left: 25%;
      bottom: 55%;
    }

    .about__group {
      top: 10%;

      .sub1 {
        margin: 10px 0 0 0;
      }
      .my-name {
        font-size: 35px;
        line-height: initial;
        margin: 60px 0 0px 0;
        text-align: right;
        padding-right: 10%;
        padding-left: 0;
      }
      .about-txt-bg {
        background-color: $white;
        box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
        border-radius: 10px;
        width: 300px;
        margin-top: 0;
        padding: 15px 20px;
      }
      .bio,
      .personal {
        font-size: initial;
        line-height: initial;
        margin-top: 10px;
        width: 100%;
      }
      .personal {
        text-align: center;
        margin-top: 30px;
      }
    }
  }
}

/*-------------------------*/
/** $Skill
---------------------*/
.skill {
  .skill-bg-white {
    position: absolute;
    background-color: $white;
    width: calc(50% + 4px);
    height: 100vh;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
  }
  .skill-bg {
    background-color: $secondary;
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .row {
    margin-top: 70px;
    z-index: 2;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
  .card-icon {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
    z-index: 2;

    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 60%;
      max-height: 60%;
    }
  }
  .card-txt {
    height: auto;
    min-height: 280px;
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
    padding: 20px;
    margin-bottom: 50px;

    .txt-sub {
      color: $dark-grey;
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
    }
    .txt-word {
      font-family: $font-noto;
      margin-bottom: 20px;
    }
  }
}
.sub-center {
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  z-index: 2;
}
@include laptop {
  .skill-bg-white {
    width: 50% !important;
  }
}
@include pad {
  .txt-word {
    font-size: 18px;
  }
}
/*-------------------------*/
/** $Experience
---------------------*/
.exp {
  // border: 1px solid #000;
  background-color: $secondary;
  padding-top: 80px;
  padding-bottom: 120px;

  .exp-list {
    position: relative;
    margin-top: 50px;
  }
  .list-line {
    position: absolute;
    grid-column-start: 2;
    width: 2px;
    height: 100%;
    background-color: $white;
    top: 0;
    left: 15px;
    transform: translateX(-50%);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-bottom: 30px;
  }
  .dot {
    grid-row-start: 1;
    grid-column-start: 2;

    .dot-color {
      position: relative;
      width: 30px;
      height: 30px;
      border: 6px solid;
      border-radius: 50%;
      z-index: 5;
      --tw-bg-opacity: 1;
      border-color: rgba(255, 255, 255, var(--tw-bg-opacity));
      --tw-border-opacity: 1;
      background-color: rgba(113, 208, 214, var(--tw-border-opacity));
    }
    .dot-yellow {
      --tw-border-opacity: 1;
      background-color: rgba(255, 204, 82, var(--tw-border-opacity));
    }
  }

  .group:hover {
    .dot-hover {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, var(--tw-border-opacity));
      --tw-border-opacity: 1;
    }
    .group-animate {
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

      @keyframes ping {
        75%,
        100% {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }
  .time {
    margin: 0;
    grid-column-start: 3;
  }
  .exp-detail {
    flex-direction: column;
    grid-column-start: 5;
    grid-column-end: 13;

    .detail-sub {
      margin: 0;
      font-family: '微軟正黑體';
      font-weight: 600;
      color: #000;
    }
    p {
      margin: 0;
      line-height: 25px;
      font-weight: 500;
      font-size: 16px;
      font-family: '微軟正黑體';
      color: $dark-grey;
    }
  }

  .exp__word {
    // position: absolute;
    left: 30%;
    top: 0;
    transform: translateX(-50%);
    font-family: '微軟正黑體';

    .education {
      display: block;
      margin-top: 8px;
      margin-bottom: -5px;
      font-size: 20px;
    }
    .en {
      display: block;
      margin: 0;
      color: lighten($dark-grey, 40%);
    }
  }
}
@include laptop {
  .exp {
    .exp-detail {
      grid-column-start: 4;
      grid-column-end: 12;
    }
  }
}
@include pad {
  .exp {
    .sub-center {
      margin-top: 0;
      margin-bottom: 30px !important;
    }
    .list-line,
    .dot {
      grid-column-start: 1;
    }
    .time {
      grid-column-start: 3;
      font-size: 14px;
    }
    .exp-list {
      margin: 25px 25px;

      .exp-detail {
        grid-column-start: 5;
        grid-column-end: 13;
      }
      .detail-sub {
        font-size: 20px;
      }
    }
  }
}
/*-------------------------*/
/** $Work
---------------------*/
.work {
  background-color: $white;
  padding-top: 100px;

  .row {
    justify-content: center;
    margin-bottom: 50px;
  }
  .work-list {
    margin-top: 80px;
  }

  .work-text {
    text-align: left;
    margin: 40px 10px 0 40px;

    .work-text__title {
      z-index: 1;
      font-size: 30px;
      color: $word;
    }
    .work-text__intro {
      font-size: 16px;
    }
    .tag {
      position: absolute;
      right: 0;
      font-size: 18px;
      font-weight: 600;
      color: $secondary;
    }
    .tag:hover {
      color: $primary;
    }

    .tag:hover::before {
      width: 100%;
    }
    .tag::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: $primary;
      transition: all 0.3s;
    }
  }

  .imgbox {
    width: 100%;

    .imgbox__inner {
      padding-top: calc(100% * 3 / 4);
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-image: url('../images/project_01.png');
    }
    img {
      width: 100%;
    }
  }

  .work-btn {
    left: 50%;
    transform: translateX(-50%);
    color: $secondary;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 24px;
    padding: 0 64px;
    margin-top: 100px;
    font-family: 'Raleway', 'Helvetica', 'roboto', arial, sans-serif;
    cursor: pointer;
    background-color: inherit;
    border: 3px solid $secondary;
  }
  .work-btn:hover {
    background-color: $secondary;
    color: #fefefe;
  }
  a {
    width: auto;
  }
}
@include laptop {
  .work {
    .imgbox {
      padding: 0 40px;
      .image {
        width: 100%;
        height: 90%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .work-text {
      margin: 0px 40px;

      .work-text__title {
        margin-top: 0;
      }

      .tag {
        position: relative;
      }
    }
  }
}
@include pad {
  .work {
    .imgbox {
      padding: 0 20px;
      .image {
        width: 100%;
        height: 90%;
      }
    }
    .work-text {
      margin: 20px 20px;

      .work-text__title {
        margin-top: -50px;
        margin-bottom: -10px;
      }
    }
    .work-btn {
      margin-top: 10px;
      z-index: 2;
    }
  }
  .p-md {
    padding-right: 20px;
  }
}
/*-------------------------*/
/** $Contact
---------------------*/
.contact {
  padding-top: 150px;
  height: 1300px;

  .contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, $primary, $secondary);
    opacity: 1;
  }
  .contact-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg.png);
    opacity: 0.03;
  }
  .form {
    max-width: 600px;
    margin: 40px auto 0 auto;

    label {
      margin-bottom: 12px;
      display: inline-block;
      vertical-align: middle;
      color: $white;
      font-size: 20px;
    }

    input,
    textarea {
      padding: 8px 16px;
      display: inline-block;
      border: 1.5px solid $white;
      border-radius: 5px;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 20px;
      background-color: hsl(250, 250, 250, 20%);
      color: $dark-grey;
    }
    .contact-btn {
      margin-top: 40px;
      padding: 0 200px;
    }
    .btn-submit {
      // left: 50%;
      // transform: translateX(-50%);
      color: $white;
      height: 48px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 24px;
      font-family: 'Raleway', 'Helvetica', 'roboto', arial, sans-serif;
      cursor: pointer;
      background-color: hsl(250, 250, 250, 30%);
      border: 1px solid $white;
    }
    .btn-submit:hover {
      background-color: $primary;
      color: $dark-grey;
    }
  }
  .contact-txt {
    margin-top: 50px;
    font-size: 25px;
    color: $dark-grey;
    text-align: center;
  }
  .info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    margin-top: 50px;
    text-align: center;
    font-size: 23px;

    a {
      color: $word;
      display: block;
      margin-top: 30px;
    }
  }
}
.lean-bg {
  position: relative;
  margin-top: -50px;
  width: 100%;
  height: 180px;
  top: 0;
  z-index: 1;
  background-color: #fefefe;
  transform: skewY(-5deg) translateY(50%);
}
@include pad {
  .lean-bg {
    height: 70px;
  }
  .form {
    padding: 0 30px 0 30px;

    .contact-btn {
      padding: 0 !important;
    }
  }
  .info {
    font-size: 22px !important;

    .info__social {
      font-size: 40px !important;
    }

    .d-md-n {
      display: none;
    }
  }
}
/*-------------------------*/
/** $Footer
---------------------*/
.footer {
  position: relative;
  margin-top: -80px;
  bottom: 0;
  text-align: center;
  background-color: inherit;
}
/*-------------------------*/
/** $Parallax graphic
---------------------*/
