/*
  07 main
*/
/*-------------------------*/
/** $Catalog
---------------------------*/
/*
  Global
  Header
  About
  Skill
  Experience
  Work
  Contact
  Footer
  Parallax graphic
**/
/*-------------------------*/
/** $Header
---------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
/* navbar */
.navbar {
  display: flex;
  // border: 1px solid #000;
  margin: 0 20px;
  justify-content: space-between;
  align-items: center;

  @include pad {
    margin: 0 0px;
  }
}
.nav__my-logo {
  margin: 0;
  padding: 20px 0px 18px 24px;

  .icon-btn {
    /* border: 1px solid #000; */
    display: block;
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 30px;
    color: $word;

    &:hover {
      color: $dark-grey;
    }

    @include pad {
      font-size: 28px;
    }
  }
}
/* navbar menu */
.nav__menu {
  display: flex;

  #menu-toggle {
    position: relative;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    @include pad {
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;

      ul {
        opacity: 0;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      @include pad {
        width: 40px;
        height: 40px;
        top: -7px;
        left: -15px;

        cursor: pointer;
        -webkit-touch-callout: none;

        &:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(1px, 2px);
          background: #71d0d6;
        }
        &:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, 0);
        }
        &:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        &:checked ~ ul {
          opacity: 1;
          transform: none;
        }
      }
    }
    span {
      display: none;
      top: 24px;
      right: 12px;
      width: 24px;
      height: 3px;
      background-color: #456e84;
      margin: 5px;
      position: relative;
      border-radius: 3px;
      z-index: 1000;
      transform-origin: 4px 0px;

      @include pad {
        display: block;
        cursor: pointer;

        top: 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          opacity 0.55s ease;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 80%;
        }
      }
    }
    .menu__item {
      display: flex;
      justify-content: space-evenly;
      padding-right: px;

      a {
        display: block;
        padding: 12px 12px;
        color: #456e84;
        font-family: 'Quantico', 'Noto Sans TC';
        font-size: 18px;

        &::before {
          transform: scaleX(0);
          transform-origin: bottom right;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &::before {
          content: ' ';
          display: block;
          position: absolute;
          height: 18px;
          margin-top: 13px;
          inset: 0 0 0 0;
          background: rgba(134, 233, 240, 0.9);
          z-index: -1;
          transition: transform 0.3s ease;
        }
      }

      @include pad {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        padding: 80px 65px;

        a:hover {
          color: $dark-grey;
        }
      }
    }
    .rwd-popup {
      @include pad {
        position: fixed;
        width: 350px;
        height: 100%;

        z-index: 10;
        background-color: #f8f9fa;
        top: 0;
        right: -50px;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        .item {
          text-align: right;
          letter-spacing: 4px;
          padding: 20px 15px;
          font-size: 18px;
        }
      }
    }
  }
}
/*-------------------------*/
/** $Home
---------------------------*/
@mixin contain {
  @content;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.hero {
  /* border: 1px solid #000; */
  @include contain;

  .scroll-icon {
    position: relative;
    text-align: center;
    opacity: 0.3;
    top: 92vh;
    animation: breath 2s 3s infinite;
    @keyframes breath {
      0% {
        opacity: 0.3;
      }
      50% {
        opacity: 0.7;
      }
      100% {
        opacity: 0.3;
      }
    }
    i {
      position: absolute;
      font-size: 45px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      color: lighten($dark-grey, 10%);
    }
  }
}
/* hero__hello*/
.hero__hello {
  position: absolute;
  margin: auto;
  top: 23vh;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  text-align: center;

  h1 {
    font-size: 130px;
  }
  h2 {
    font-size: 38px;
    color: #fff;
    margin-top: -15px;
  }
  h3 {
    margin-bottom: 15px;
    color: #5f666d;
    font-family: monospace;
    font-size: 28px;
    font-weight: 400;
    width: 38ch;
    line-height: 50px;
    border-right: 3px solid;
    overflow: hidden;
    animation: typing 3s steps(22), blink 0.5s step-end infinite;
    white-space: nowrap;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
/* hero__left Right*/
.icon {
  position: absolute;
  top: 50vh;
  z-index: 1000;
  transform: translateY(-50%);

  font-size: 45px;
  color: $dark-grey;
}
@mixin icon-hover {
  @content;
  font-size: 50px;
  color: #f8f9fa;
  transition: all 0.2s ease;
}
.page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  background-size: cover;
  background-repeat: no-repeat;

  -webkit-font-smoothing: antialiased;
  /* transform-origin: 0% 0%; */
  transition: transform 1s ease-in-out;
}
.hero__left {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  width: 50%;
  height: 100%;

  .left-icon {
    left: 40px;
    animation: moveLeft 1s 3.5s infinite alternate;

    &:hover {
      @include icon-hover;
    }
  }
  @keyframes moveLeft {
    0% {
      left: 40px;
    }
    100% {
      left: 20px;
    }
  }

  .left-designer {
    display: block;
    top: 0;
    left: 0;
    background-image: url(../images/about__design.png);
    transform: translateX(-100%);

    h1 {
      position: absolute;
      font-size: 110px;
      top: 40px;
      right: 8%;
    }
    h2 {
      position: absolute;
      color: $white;
      font-size: 40px;
      font-weight: 600;
      top: 68%;
      right: 8%;
    }
    h3 {
      position: absolute;
      color: lighten($dark-grey, 10%);
      font-size: 25px;
      line-height: 40px;
      text-align: right;
      top: 78%;
      right: 8%;
    }
    h4 {
      position: absolute;
      color: $white;
      font-size: 20px;
      top: 108px;
      right: 5%;
      writing-mode: vertical-rl;
      text-orientation: sideways;
      transform: rotate(-180deg);
      letter-spacing: 2px;
    }
  }
  .designer-whiteBlock {
    position: absolute;
    width: 800px;
    height: 90px;
    top: 130px;
    right: 8%;
    background-color: $white;
  }
}
.hero__right {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $secondary;
  width: 50%;
  height: 100%;

  .right-icon {
    right: 50px;
    animation: moveRight 1s 3.5s infinite alternate;

    &:hover {
      @include icon-hover;
    }
  }
  @keyframes moveRight {
    0% {
      right: 40px;
    }
    100% {
      right: 20px;
    }
  }
  .right-coder {
    display: block;
    background-image: url(../images/about__code.png);
    background-position: bottom;
    top: 0;
    right: 0;
    transform: translateX(100%);

    h1 {
      position: absolute;
      font-size: 130px;
      top: 35vh;
      left: 5%;
    }
    h2 {
      position: absolute;
      font-size: 30px;
      color: lighten($dark-grey, 5%);
      top: 3%;
      left: 5.5%;
    }
  }
}
.page-id {
  display: block;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
#left-page {
  input {
    opacity: 0;
    -webkit-touch-callout: none;

    &:checked ~ i {
      color: #f8f9fa;
    }
    &:checked ~ .left-designer {
      transform: none;
    }
  }
}
#right-page {
  input {
    opacity: 0;
    -webkit-touch-callout: none;

    &:checked ~ .right-coder {
      transform: none;
    }
  }
}
@include laptop {
  .hero__hello {
    top: 32vh;

    h1 {
      font-size: 150px;
    }
    h3 {
      font-size: 42px;
      white-space: nowrap;
    }
  }

  #left-page,
  #right-page {
    display: none;
  }
  .scroll i,
  .scroll span {
    animation: scroll_move 0.7s 4s ease-in-out infinite alternate;
  }
  @keyframes scroll_move {
    0% {
      top: 90vh;
    }
    100% {
      top: 92vh;
    }
  }
}
@include pad {
  .hero__hello {
    top: 38vh;

    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 32px;
      white-space: nowrap;
    }
    h3 {
      display: none;
    }
  }
  #left-page,
  #right-page {
    display: none;
  }

  .scroll i,
  .scroll span {
    animation: scroll_move 1s 1s ease-in-out infinite alternate;
  }
  @keyframes scroll_move {
    0% {
      top: 90vh;
    }
    100% {
      top: 92vh;
    }
  }
}
/*-------------------------*/
/** $about
---------------------*/
.about {
  @include contain;

  .bgL {
    position: absolute;
    background-color: $primary;
    width: 50%;
    height: 100vh;
    animation: bgL 0.5s ease-in-out forwards;
  }
  @keyframes bgL {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
    }
  }
  .bgL2 {
    animation: bgL2 0.5s ease-in-out backwards;
  }
  @keyframes bgL2 {
    0% {
      clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .bgR {
    position: absolute;
    background-color: $secondary;
    right: 0;
    width: 50%;
    height: 100vh;
    animation: bgR 0.5s ease-in-out forwards;
  }
  @keyframes bgR {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .bgR2 {
    animation: bgR2 0.5s ease-in-out backwards;
  }
  @keyframes bgR2 {
    0% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 55%;
    bottom: 8%;
    transform: translateX(-50%);
    background-size: 450px;
    background-image: url('../images/Han.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    animation: photoShow 1s 0.5s linear backwards;
  }
  @keyframes photoShow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .about__group {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);

    .sub1 {
      display: block;
      top: 0;
      left: 0;
      margin-bottom: 20px;
    }

    .my-name {
      font-family: '微軟正黑體';
      color: $word;
      margin-top: 50px;

      p {
        display: inline;
        font-size: 20px;
      }
    }
    .bio {
      display: block;
      margin: 0px;
      width: 450px;
      font-size: 18px;
    }

    .personal {
      margin-top: 20px;

      font-size: 16px;
      font-family: $font-noto;

      a {
        margin-top: 5px;
        display: block;
      }

      .personal__icon {
        font-size: 22px;
        color: $primary;
      }
    }
  }
  .quote {
    position: absolute;
    right: 3%;
    display: inline-block;
    width: 60px;
    top: 75vh;
    opacity: 0.2;
  }
  .intro {
    position: absolute;
    right: 3%;
    top: 85vh;
    font-size: 28px;
    width: 450px;
    color: lighten($white, 20%);
    text-align: right;
  }
}

/*-------------------------*/
/** $Skill
---------------------*/
.skill {
  @include contain;

  .skill-bg {
    position: absolute;
    background-color: $secondary;
    width: 100%;
    height: 100vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
  }
}
.sub-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 120px;
}
/*-------------------------*/
/** $Experience
---------------------*/
.exp {
  @include contain;
  border: 1px solid #000;

  .exp-bg {
    .exp__word {
      position: absolute;
      left: 30%;
      top: 65vh;
      transform: translateX(-50%);
      font-family: '微軟正黑體';

      .sub-title {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 0px;
        color: #4a90e2;
      }
      .education {
        display: block;
        margin-top: 8px;
        margin-bottom: -5px;
        font-size: 20px;
      }
      .en {
        display: block;
        margin: 0;
        color: lighten($dark-grey, 40%);
      }
    }
  }
}

/*-------------------------*/
/** $Work
---------------------*/

/*-------------------------*/
/** $Contact
---------------------*/

/*-------------------------*/
/** $Footer
---------------------*/

/*-------------------------*/
/** $Parallax graphic
---------------------*/
