/*
  01 variable
 */
$font-ios: 'Helvetica', 'roboto', 'Noto Sans TC', arial, sans-serif;
$font-noto: 'Noto Sans TC', 'Helvetica', 'roboto', arial, sans-serif;

//color
$primary: #ffcc52;
$secondary: #71d0d6;
$word: #456e84;

$pink: #ff957f;
$blue: #c3d4de;
$dark-grey: #484848;
$light-grey: #cbcbcb;
$white: #fefefe;
