/*
  01 variable
 */
$font-ios: 'Helvetica', 'roboto', 'Noto Sans TC', arial, sans-serif;
$font-noto: 'Noto Sans TC', 'Helvetica', 'roboto', arial, sans-serif;

//color
$primary: rgb(255, 204, 82);
$secondary: rgb(113, 208, 214);
$word: #456e84;

$blue: #c3d4de;
$dark-grey: #484848;
$light-grey: #cbcbcb;
$white: #fefefe;
